# This file is part of hegelizer.
# https://github.com/m-strasser/hegelizer

# Licensed under the GPL license:
# http://www.opensource.org/licenses/GPL-license
# Copyright (c) 2016, Michael Strasser <mst1409@gmx.at>

recursive-exclude tests *
