{% load static %}
<html>
<head>
	<title>HEGELIZER</title>
	<script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "showdialectic/graph_commands.js" %}">
	</script>
	<script type="text/javascript" src="{% static "showdialectic/canvas_commands.js" %}">
	</script>
	<link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css"/>

	<style type="text/css">
		#canvas_navigation {
			width: 100%;
		}
		#mynetwork {
			width: 100%;
			height: 90%;
			border: 1px solid lightgray;
		}
		#overlay_menu {
			width: 33.33%;
			height: 33.33%;
			top: 33.33%;
			left: 33.33%;
			border: 2px solid black;
			background: lightgray;
			position: absolute;
			opacity: 0.6;
		}
	</style>
</head>
<body>
	<div id="canvas_navigation">
		<button type="button" id="canvas_0" onclick="select_canvas(0);">Canvas 0</button>
	</div>
	<div id="mynetwork"></div>
	<div id="menu" style="display: none">
		<button type="button" id="add_canvas" onclick="add_canvas();">Add canvas</button>
		<button type="button" id="add_branch" onclick="add_branch();">Add branch</button>
		<button type="button" id="remove_branch" onclick="remove_branch();">Remove branch</button>
		<button type="button" id="merge_branches" onclick="merge_branch();">Merge branches</button>
	</div>
	<div id="overlay_menu" style="display: none">
		<button type="button" id="add_branch"
			onclick="call_from_overlay(add_branch, current);">
			Add branch
		</button>
		<button type="button" id="remove_branch"
			onclick="call_from_overlay(remove_branch, current);">
			Remove branch
		</button>
		<button type="button" id="merge_branches"
			onclick="call_from_overlay(merge_branch, current);">
			Merge branches
		</button>
	</div>

	<script type="text/javascript">
		var overlay_menu_visible = false;
		var nodes = new vis.DataSet([
			{
				id: 1,
				label: 'Sinnliche Gewissheit',
				shape: 'box',
				merged: false,
				split: true
			},
			{
				id: 2,
				label: 'Dieser',
				shape: 'box',
				merged: false,
				split: false,
			},
			{
				id: 3,
				label: 'Dieses',
				shape: 'box',
				merged: false,
				split: false
			},
		]);

		var edges = new vis.DataSet([
			{from: 1, to: 2},
			{from: 1, to: 3},
		]);

		var container = document.getElementById('mynetwork');
		var data = {
			nodes: nodes,
			edges: edges
		};

		var options = {
			layout: {
				hierarchical: {
					enabled: true,
					direction: 'LR',
					sortMethod: 'directed'
				}
			},
			physics: {
				enabled: false
			},
			interaction: {
				multiselect: true
			}
		}
		var canvas = new vis.Network(container, data, options);
		set_listeners(canvas);
		var networks = [{
			"container": container,
			"data": data,
			"options": options,
			"name": "Canvas 0"
		}];
		var current = -1;
		var counter = 3;
	</script>
</body>
</html>
